<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DinoPeopleFrame.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E232F7A31F0A785D00B5DE09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E232F7AC1F0A785E00B5DE09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E232F7C11F0A78CB00B5DE09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E232F7D01F0A791600B5DE09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
